{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plots/style.css' %}">
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h2 style="font-family: Arial;">Cumulative cases in London boroughs</h2>
  <p style="font-size:16px;font-family: Arial;">
    This page shows the cumulative cases of Covid19 in the different London boroughs,
    updated to the <b>{{ date }}</b>. The data are collected from the governative website 
    <a href="https://coronavirus.data.gov.uk">https://coronavirus.data.gov.uk</a>.
  </p>
  <div class="dropdown">
  	<button class="dropbtn">{{ current }}</button>
  		<div class="dropdown-content">
  			{% for entry in items %}
  					<a href="{% url 'plots:cumulative_single' entry %}">{{ entry }}</a>
  			{% endfor %}
  		</div>
  </div>
  <div style="margin:0 auto;text-align:center">
  	<img src="data:image/png;base64,{{ data }}" alt="" height="550" , width="750">
  </div>
  <p align="center" style="font-size:16px;font-family: Arial;">
    <b>Total cases to date:</b> {{ daily_tot }} &emsp;
    <b>Daily increase:</b> {{ daily_inc }} &emsp;
    <b>Percentual increase:</b> {{ daily_per }}&#37;
  </p>
  <p align="right" style="font-size:14px;font-family: Arial;">
    <a href="{% url 'plots:cumulative_multiple' blist %}">Compare London boroughs</a> &#x21E8;
  </p>
  <hr>
  <p align="right" style="font-size:14px;font-family: Arial;">
    This project was done using Django, and the source code can be found on
    <a href="https://github.com/carlosparaciari">GitHub</a>.
  </p>
</body>