{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plots/style.css' %}">

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <h2>Cumulative cases in London boroughs</h2>
    <p>
      This page shows the cumulative cases of Covid-19 in different London boroughs.
      The data are collected from the governmental website 
      <a href="https://coronavirus.data.gov.uk">https://coronavirus.data.gov.uk</a>.
      The data are updated to <b>{{ date }}</b>.
    </p>
    <div class="dropdown">
    	<button class="dropbtn">{{ current }}</button>
    		<div class="dropdown-content">
    			{% for entry in items %}
    					<a href="{% url 'plots:cumulative_single' entry %}">{{ entry }}</a>
    			{% endfor %}
    		</div>
    </div>
    <div id="image">
    	<img src="data:image/png;base64,{{ data }}" alt="">
    </div>
    <div align="center" id="daily">
      <form method = "GET">
        {{ date_form }} 
        <input type = "submit" value = "Show cases"> 
      </form>
      <p>
        <b>Total cases to date:</b> {{ daily_tot }} &emsp;
        <b>Daily increase:</b> {{ daily_inc }} &emsp;
        <b>Percentual increase:</b> {{ daily_per }}&#37;
      </p>
      <p>{{ test }}</p>
    </div>
    <p>
      <b>NOTE:</b>
        <ol>
        <li>
          The blue line represents the cumulative number of Covid-19 cases recorded in the borough. The values taken by this line are shown on the left y-axis.
        </li>
        <li>
          The green bars are the daily cases recorded. The value of these bars can be read on the
          right y-axis.
        </li>
        <li>
          The light green bars are definitive data, while the dark green ones are provisional and will likely be updated in the coming days.
        </li>
        <li>
          The red line is the moving average of daily cases with a 7-day period, to remove
          fluctuations due to delays during the weekends.
        </li>
      </ol>
    </p>
    <p align="right">
      <a href="{% url 'plots:cumulative_multiple' %}">Compare London boroughs</a> &#x21E8;
    </p>
    <hr>
    <p align="right" id="footnote">
      This project was made using Django, and the source code can be found on
      <a href="https://github.com/carlosparaciari/Covid19London">GitHub</a>.
    </p>
  </div>
</body>