{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'plots/style.css' %}">

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <h2>Covid trends in Italian provinces</h2>
    <p>
      This page shows how the differen provinces perform in terms of
      total cases of Covid-19 and their weekly increments.
      The data are collected from the Protezione Civile Italina 
      (<a href="https://github.com/pcm-dpc/COVID-19">link</a>).
      The data are updated to <b>{{ date }}</b>.
    </p>
    <div class="dropdown">
      <button onclick="click_search()" class="dropbtn">{{ current }}</button>
      <div id="src_dropdown" class="dropdown-content">
        <input type="text" placeholder=" Select province..." id="src_input" onkeyup="filter_search()">
        {% for entry in items %}
            <a href="{% url 'plots:trends_italy' entry %}">{{ entry }}</a>
        {% endfor %}
      </div>
    </div>
    <div id="image">
    	<img src="data:image/png;base64,{{ data }}" alt="">
    </div>
    <p>
      <b>NOTE:</b>
        <ol>
        <li>
          The x-axis is the total number of Covid-19 cases registered to date per {{ rel_num }} people.
          The y-axis is the increment of Covid-19 cases registered during the last 7 days
          per {{ rel_num }} people.
        </li>
        <li>
          Each point is a different Italian province (grey points). The provinces with both the highest number of cases and the highest weekly increments are highlighted in red; those with high cases and low increments (or viceversa) are shown in orange. The provinces with the lowest number of cases and the lowest weekly increments are highlighted in green. 
        </li>
        <li>
          The black point in between the dashed line represents the average between provinces (i.e., Italy). The province of interest (the one requested via the button) is highlighted with a blue cross.
        </li>
      </ol>
    </p>
    <p align="right">
      <a href="{% url 'plots:cumulative_italy' 'Milano' %}">Absolute cumulative cases</a> &#x21E8;
    </p>
    <hr>
    <p id="footnote">
      This project was made using Django, and the source code can be found on
      <a href="https://github.com/carlosparaciari/Covid19London">GitHub</a>.
      <span style="float:right;" >
        <a href="{% url 'plots:cumulative_single' 'London' %}">&#x1f1ec;&#x1f1e7;</a>
      </span>
    </p>
  </div>

<script>
function click_search() {
  document.getElementById("src_dropdown").classList.toggle("show");
}

function filter_search() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("src_input");
  filter = input.value.toUpperCase();
  div = document.getElementById("src_dropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>

</body>
